{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "rules": {
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": ">=16.8"
    }
  }
}
